name: Promote Charm across all risk tracks

on:
  workflow_call:
    inputs:
      charm-repo:
        description: "Repository of the charm to promote. Defaults  to the caller repository."
        type: string
        default: ${{ github.repository }}
        required: false
      charm-path:
        description: "Path to the charm we want to promote. Defaults to the current working directory."
        type: string
        default: '.'
        required: false
    secrets:
      CHARMHUB_TOKEN:
        required: true

jobs:
  promote:
    name: Promote Charm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.charm-repo }}

      - name: Check which tracks already have a release
        id: check-tracks
        run: |
          cd ${{ inputs.charm-path }}
          charm_name=$((yq .name metadata.yaml 2>/dev/null || yq .name charmcraft.yaml) | tr - _)
          status=$(charmcraft status "$charm_name" --format=json)
          to_stable=$(echo "$status" | jq -r '.[] | select(.track == "latest") | .mappings[].releases[] | select(.channel == "latest/stable") | .status')
          to_candidate=$(echo "$status" | jq -r '.[] | select(.track == "latest") | .mappings[].releases[] | select(.channel == "latest/candidate") | .status')
          to_beta=$(echo "$status" | jq -r '.[] | select(.track == "latest") | .mappings[].releases[] | select(.channel == "latest/beta") | .status')
          echo "to_stable=$to_stable" >> $GITHUB_OUTPUT
          echo "to_candidate=$to_candidate" >> $GITHUB_OUTPUT
          echo "to_beta=$to_beta" >> $GITHUB_OUTPUT

      - name: Promote Charm from candidate to stable
        if: steps.check-tracks.outputs.to_stable == "open"
        run: |
          echo "Promoting ${{ matrix.charm-repo }} from latest/candidate to latest/stable"
          echo "-- wd $(pwd)"
          echo "-- charm-path ${{ steps.read-charm-path.outputs.charm-path }}"
        # uses: canonical/charming-actions/promote-charm@2.6.0
        # with:
        #   charm-path: ${{ inputs.charm-path }}
        #   credentials: ${{ secrets.CHARMHUB_TOKEN }}
        #   origin-channel: latest/candidate
        #   destination-channel: latest/stable
      - name: Promote Charm from beta to candidate
        if: steps.check-tracks.outputs.to_candidate == "open"
        run: |
          echo "Promoting ${{ matrix.charm-repo }} from latest/beta to latest/candidate"
          echo "-- wd $(pwd)"
          echo "-- charm-path ${{ steps.read-charm-path.outputs.charm-path }}"       # uses: canonical/charming-actions/promote-charm@2.6.0
        # with:
        #   charm-path: ${{ inputs.charm-path }}
        #   credentials: ${{ secrets.CHARMHUB_TOKEN }}
        #   origin-channel: latest/beta
        #   destination-channel: latest/candidate
      - name: Promote Charm from edge to beta
        if: steps.check-tracks.outputs.to_beta == "open"
        run: |
          echo "Promoting ${{ matrix.charm-repo }} from latest/edge to latest/beta"
          echo "-- wd $(pwd)"
          echo "-- charm-path ${{ steps.read-charm-path.outputs.charm-path }}"       # uses: canonical/charming-actions/promote-charm@2.6.0
        # uses: canonical/charming-actions/promote-charm@2.6.0
        # with:
        #   charm-path: ${{ inputs.charm-path }}
        #   credentials: ${{ secrets.CHARMHUB_TOKEN }}
        #   origin-channel: latest/edge
        #   destination:channel: latest/beta
