name: Static Analysis

on:
  workflow_call:
    inputs:
      charm-path:
        type: string
        required: false

jobs:
  static-lib:
    name: Static static analysis for /lib and charm
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python3 -m pip install tox
          sudo snap install --classic astral-uv
      - name: Run tests
        uses: canonical/observability/.github/actions/charm-run-task@feature/conditional-ci
        with:
          charm-path: ${{ inputs.charm-path }}
          test-type: static
