name: Quality Checks

on:
  workflow_call:
    inputs:
      charm-path:
        type: string
        description: "Path to the charm or bundle we want to publish. Defaults to the current working directory."
        required: false
      package-type:
        type: string
        description: 'Type of package, "charm" or "bundle", in which the workflow is executed for.'
        required: false
        default: "charm"
      provider:
        type: string
        description: "The provider to choose for either machine or k8s tests ('lxd' or 'microk8s')"
        required: true
      ip-range:
        type: string
        description: |
          The IP range in the address pool for the load balancer to use.
          It can be either a subnet(IP/mask) or a range (<IP1>-<IP2>)
        required: false
        default: null
    secrets:
      CHARMHUB_TOKEN:
        required: false
jobs:
  check-secret:
    name: Check the CHARMHUB_TOKEN secret
    runs-on: ubuntu-latest
    outputs:
      defined: ${{ steps.check.outputs.defined }}
    steps:
      - id: check
        env:
          CHARMHUB_TOKEN: ${{ secrets.CHARMHUB_TOKEN }}
        if: "${{ env.CHARMHUB_TOKEN != '' }}"
        run: echo "defined=true" >> $GITHUB_OUTPUT
  call-inclusive-naming-check:
    # Issues with this workflow can be addressed by adding a .wokeignore in the repository root
    name: Inclusive naming
    uses: canonical/Inclusive-naming/.github/workflows/woke.yaml@main
    with:
      fail-on-error: "true"
  lib-check:
    name: Check libraries
    runs-on: ubuntu-latest
    needs:
      - check-secret
    if: needs.check-secret.outputs.defined == 'true' && inputs.package-type == 'charm'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Check charm libraries # Make sure our charm libraries are updated
        uses: canonical/charming-actions/check-libraries@2.5.0-rc
        with:
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          charm-path: "${{ inputs.charm-path }}"
  static-analysis:
    name: Static Analysis
    uses: canonical/observability/.github/workflows/_charm-static-analysis.yaml@main
    if: inputs.package-type == 'charm'
    with:
      charm-path: "${{ inputs.charm-path }}"
  linting:
    name: Linting
    uses: canonical/observability/.github/workflows/_charm-linting.yaml@main
    with:
      charm-path: "${{ inputs.charm-path }}"
  unit-test:
    name: Unit Tests
    uses: canonical/observability/.github/workflows/_charm-tests-unit.yaml@main
    if: inputs.package-type == 'charm'
    with:
      charm-path: "${{ inputs.charm-path }}"
  scenario-test:
    name: Scenario Tests
    uses: canonical/observability/.github/workflows/_charm-tests-scenario.yaml@main
    if: inputs.package-type == 'charm'
    with:
      charm-path: "${{ inputs.charm-path }}"
  integration-test:
    name: Integration Tests
    needs:
      - static-analysis
      - linting
      - unit-test
      - scenario-test
    # run even if some jobs are skipped in case of bundles
    # https://github.com/actions/runner/issues/2205
    if: ${{ !failure() && !cancelled() }}
    uses: canonical/observability/.github/workflows/_charm-tests-integration.yaml@main
    with:
      charm-path: "${{ inputs.charm-path }}"
      provider: "${{ inputs.provider }}"
      ip-range: ${{ inputs.ip-range }}
  codeql:
    name: CodeQL analysis
    needs:
      - static-analysis
      - linting
      - unit-test
    # run even if some jobs are skipped in case of bundles
    # https://github.com/actions/runner/issues/2205
    if: ${{ !failure() && !cancelled() }}
    uses: canonical/observability/.github/workflows/_charm-codeql-analysis.yml@main
    with:
      charm-path: "${{ inputs.charm-path }}"
