name: Integration Tests

on:
  workflow_call:
    inputs:
      charm-path:
        type: string
        required: false
      provider:
        type: string
        description: "The provider to choose for either machine or k8s tests ('lxd' or 'microk8s')"
        required: true
      ip-range:
        type: string
        description: |
          The IP range in the address pool for the load balancer to use.
          It can be either a subnet(IP/mask) or a range (<IP1>-<IP2>)
        required: false
        default: null

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  integration-test:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Setup Charmcraft's pip cache
        uses: actions/cache@v4
        with:
          path: /home/runner/snap/charmcraft/common/cache/charmcraft/
          key: charmcraft-cache-${{ github.job }}-${{ strategy.job-index }}-${{ github.run_id }}-${{ github.run_attempt }}
          restore-keys: charmcraft-cache
      - name: Get IP range
        id: ip_range
        if: ${{ inputs.ip-range == '' }}
        run: |
          echo "ip_range=$(ip -4 -j route get 2.2.2.2 | jq -r '.[] | .prefsrc')/32" >> $GITHUB_OUTPUT
      - name: Setup operator enviroment (machine)
        if: inputs.provider == 'lxd'
        uses: charmed-kubernetes/actions-operator@main
        with:
          juju-channel: 3.5/stable
          provider: lxd
      - name: Setup operator environment (k8s)
        if: inputs.provider == 'microk8s'
        uses: IbraAoad/actions-operator@patch-1
        with:
          juju-channel: 3.5/stable
          provider: microk8s
          channel: 1.29-strict/stable
          microk8s-group: snap_microk8s
          microk8s-addons: "hostpath-storage rbac dns metallb:${{ inputs.ip-range || steps.ip_range.outputs.ip_range }}"
      - name: Run integration tests
        run: cd ${{ inputs.charm-path }} && tox -vve integration
      - name: Dump logs
        if: failure()
        uses: canonical/charming-actions/dump-logs@main
