name: Linting

on:
  workflow_call:
    inputs:
      charm-path:
        type: string
        required: false

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python3 -m pip install tox
          sudo snap install --classic astral-uv
      - name: Run tests
        uses: actions/charm-run-task
        with:
          charm-path: ${{ inputs.charm-path }}
          test-type: lint
          tox-command: -vve lint
