name: Release charm to Edge

on:
  workflow_call:
    inputs:
      charm-path:
        type: string
        required: false
      artifact:
        description: "Name of artifact to download before building. Must contain the file artifact.tar.gz."
        default: ''
        required: false
        type: string
    secrets:
      CHARMHUB_TOKEN:
        required: true

jobs:
  release-to-charmhub:
    name: Release to CharmHub
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Download Artifact
        uses: actions/download-artifact@v3
        id: download_artifact
        with:
          name: "${{ inputs.artifact }}"
        if: ${{ inputs.artifact != '' }}
      - name: Unpack Artifact
        run: sudo apt-get update && sudo apt-get install tar && tar xf artifact.tar.gz
        if: ${{ inputs.artifact != '' }}
      - name: Select charmhub channel
        uses: canonical/charming-actions/channel@2.1.1
        id: channel
      - name: Upload charm to charmhub
        uses: canonical/charming-actions/upload-charm@2.1.1
        with:
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          channel: "${{ steps.channel.outputs.name }}"
          charm-path: "${{ inputs.charm-path }}"
