name: Release charm to Edge

on:
  workflow_call:
    inputs:
      charm-path:
        type: string
        required: false
        default: .
      release-tag-prefix:
        description: "Tag prefix to use for the tag of the GitHub release."
        default: ''
        required: false
        type: string
      artifact:
        description: "Name of artifact to download before building. Must contain the file artifact.tar.gz."
        default: ''
        required: false
        type: string
      build-for-arm:
        type: boolean
        default: false
        required: false
        description: >
          Whether or not to build the charm for arm64. Defaults to false.
      charmcraft-channel:
        type: string
        default: "3.x/candidate"
        required: false
        description: |
          The snap channel from which to install Charmcraft.
    secrets:
      CHARMHUB_TOKEN:
        required: true

jobs:
  build:
    name: Build the charms
    runs-on: ubuntu-22.04
    outputs:
      charms: ${{ steps.builder.outputs.charms }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Setup LXD
        uses: canonical/setup-lxd@v0.1.1
        with:
          channel: latest/stable
      - name: Download Artifact
        uses: actions/download-artifact@v4
        id: download_artifact
        with:
          name: "${{ inputs.artifact }}"
        if: ${{ inputs.artifact != '' }}
      - name: Unpack Artifact
        run: sudo apt-get update && sudo apt-get install tar && tar xf artifact.tar.gz
        if: ${{ inputs.artifact != '' }}
      - name: Build charm(s)
        id: builder
        run: |
          sudo snap install jq
          sudo snap install charmcraft --classic --channel="${{ inputs.charmcraft-channel }}"
          (cd ${{ inputs.charm-path }}; charmcraft pack)
          export CHARMS=$(basename -a ${{ inputs.charm-path }}/*.charm | jq -R -s -c 'split("\n")[:-1]')
          echo "charms=$CHARMS" >> "$GITHUB_OUTPUT"
      - name: Store charms
        uses: actions/upload-artifact@v4
        with:
          name: charms
          path: ${{ inputs.charm-path }}/*.charm
      - name: Step output
        run: |
          echo "${{ fromjson(steps.builder.outputs.charms) }} "
  build-arm:
    name: Build the charms for ARM
    if: ${{ inputs.build-for-arm }}
    runs-on: Ubuntu_ARM64_4C_16G_03
    outputs:
      charms: ${{ steps.builder.outputs.charms }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Download Artifact
        uses: actions/download-artifact@v4
        id: download_artifact
        with:
          name: "${{ inputs.artifact }}"
        if: ${{ inputs.artifact != '' }}
      - name: Unpack Artifact
        run: sudo apt-get update && sudo apt-get install tar && tar xf artifact.tar.gz
        if: ${{ inputs.artifact != '' }}
      - name: Setup dependencies
        id: setup-deps
        run: |
          sudo snap install jq
          sudo snap install lxd
          sudo lxd init --auto
          sudo snap install charmcraft --classic --channel="${{ inputs.charmcraft-channel }}"
          lxd_user="$USER"
          sudo usermod -a -G lxd "$lxd_user"
      - name: Build charm(s)
        id: builder
        run: |
          (cd ${{ inputs.charm-path }}; charmcraft pack)
          export CHARMS=$(basename -a ${{ inputs.charm-path }}/*.charm | jq -R -s -c 'split("\n")[:-1]')
          echo "charms=$CHARMS" >> "$GITHUB_OUTPUT"
      - name: Store charms
        uses: actions/upload-artifact@v4
        with:
          name: charms-arm
          path: ${{ inputs.charm-path }}/*.charm
  charm-output:
    name: Charm List
    runs-on: ubuntu-22.04
    needs:
      - build
      - build-arm
    steps:
      - name: Job output
        run: |
          echo x86 Charms:\n---\n${{ fromjson(needs.build.outputs.charms) }}\n\n
          echo ARM64 Charms:\n---\n${{ fromjson(needs.build-arm.outputs.charms) }}

  release-to-charmhub:
    name: Release to CharmHub
    runs-on: ubuntu-22.04
    needs:
      - build
    strategy:
      matrix:
        path: ${{ fromjson(needs.build.outputs.charms) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Select charmhub channel
        uses: canonical/charming-actions/channel@2.1.1
        id: channel
      - name: Fetch charm artifacts
        uses: actions/download-artifact@v4
        with:
          name: charms
          path: "${{ github.workspace }}/${{ inputs.charm-path }}"
      - name: Upload charm to charmhub
        uses: canonical/charming-actions/upload-charm@2.5.0-rc
        with:
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          channel: "${{ steps.channel.outputs.name }}"
          built-charm-path: "${{ matrix.path }}"
          charm-path: "${{ inputs.charm-path }}"
          tag-prefix: "${{ inputs.release-tag-prefix }}"
          charmcraft-channel: "${{ inputs.charmcraft-channel }}"
          # We set destructive mode to false, otherwise runner's OS would have to match
          # charm's 'build-on' OS.
          destructive-mode: false
  release-arm-to-charmhub:
    name: Release arm64 to CharmHub
    # needs to be run on arm or the oci image will resolve to the amd64 one.
    runs-on: Ubuntu_ARM64_4C_16G_03
    needs:
      - build-arm
    strategy:
      matrix:
        path: ${{ fromjson(needs.build-arm.outputs.charms) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Select charmhub channel
        uses: canonical/charming-actions/channel@2.1.1
        id: channel
      - name: Fetch charm artifacts
        uses: actions/download-artifact@v4
        with:
          name: charms-arm
          path: "${{ github.workspace }}/${{ inputs.charm-path }}"
      - name: Set up Docker
        run: |
          sudo snap install docker
          sudo addgroup --system docker
          sudo adduser $USER docker
          newgrp docker <<< "sudo snap disable docker"
          newgrp docker <<< "sudo snap enable docker"
      - name: Upload charm to charmhub
        uses: canonical/charming-actions/upload-charm@2.5.0-rc
        with:
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          channel: "${{ steps.channel.outputs.name }}"
          built-charm-path: "${{ matrix.path }}"
          charm-path: "${{ inputs.charm-path }}"
          tag-prefix: "${{ inputs.release-tag-prefix }}"
          charmcraft-channel: "${{ inputs.charmcraft-channel }}"
          # We set destructive mode to false, otherwise runner's OS would have to match
          # charm's 'build-on' OS.
          destructive-mode: false
