name: Build ROCK

on:
  workflow_call:
    inputs:
      rock-name:
        description: "Name of the application for which to build the ROCK"
        required: true
        type: string

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup LXD
      uses: canonical/setup-lxd@v0.1.0
      with:
        channel: latest/stable

    - name: Install dependencies
      run: |
        sudo snap install yq
        sudo snap install --classic --channel edge rockcraft

    - name: Build ROCK
      run: rockcraft pack --verbose

    - name: Upload ROCK to ghcr.io
      run: |
        VERSION=$(yq -r '.version' rockcraft.yaml)
        sudo skopeo --insecure-policy copy oci-archive:$(realpath ./${{ inputs.rock-name }}_*.rock) docker://ghcr.io/canonical/${{ inputs.rock-name }}:$VERSION --dest-creds "${{ secrets.GHCR_USERNAME }}:${{ secrets.GHCR_PASSWORD }}"

    - name: Install Syft
      run: |
        curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin

    - name: Create SBOM
      run: syft $(realpath ./${{ inputs.rock-name }}_*.rock) -o spdx-json=${{ inputs.rock-name }}.sbom.json

    - name: Upload SBOM
      uses: actions/upload-artifact@v3
      with:
        name: ${{ inputs.rock-name }}-sbom
        path: "${{ inputs.rock-name}}.sbom.json"
    - name: Upload locally built ROCK artifact
      uses: actions/upload-artifact@v3
      with:
        name: ${{ inputs.rock-name }}-rock
        path: "${{ inputs.rock-name }}_*.rock"
