name: Quality Gates

on:
  workflow_call:
    inputs:
      charm-path:
        description: |
          Path to the charm we want to promote. Defaults to the current working directory.
        default: '.'
        required: false
        type: string
      tracks:
        description: Json list of track names on which to run quality gates.
        type: string
        required: false
        default: '["0", "1"]'
    secrets:
      CHARMHUB_TOKEN:
        required: true

concurrency:
  group: quality-gates
  cancel-in-progress: true

jobs:
  quality-gate-edge:
    name: Quality gate (edge -> beta)
    if: always()
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        track: ${{ fromJSON(inputs.tracks) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo snap install astral-uv --classic
      - name: Get charm name
        id: get-charm-name
        run: |
          cd "${{ inputs.charm-path }}"
          charm_name=$(yq .name metadata.yaml 2>/dev/null || yq .name charmcraft.yaml)
          echo "charm_name=$charm_name"
          echo "charm_name=$charm_name" >> "$GITHUB_OUTPUT"
      - name: "Run the quality gates"
        run: |
            uvx tox -e qualitygate-beta
      - name: Promote from edge to beta
        env:
          CHARMCRAFT_AUTH: ${{ secrets.CHARMHUB_TOKEN }}
          CHARM_NAME: ${{ steps.get-charm-name.outputs.charm_name }}
          CHARM_PATH: ${{ inputs.charm-path }}
          TRACK: ${{ matrix.track }}
        run: |
          cd "$CHARM_PATH"
          uvx --quiet --from git+https://github.com/lucabello/noctua \
            noctua charm promote "$CHARM_NAME" --from="$TRACK/edge"
          echo "Promoted from edge to beta!"
              
  quality-gate-beta:
    name: Quality gate (beta -> candidate)
    if: always()
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        track: ${{ fromJSON(inputs.tracks) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo snap install astral-uv --classic
      - name: Get charm name
        id: get-charm-name
        run: |
          cd "${{ inputs.charm-path }}"
          charm_name=$(yq .name metadata.yaml 2>/dev/null || yq .name charmcraft.yaml)
          echo "charm_name=$charm_name"
          echo "charm_name=$charm_name" >> "$GITHUB_OUTPUT"
      - name: "Run the quality gates"
        run: |
            uvx tox -e qualitygate-candidate
      - name: Promote from beta to candidate
        env:
          CHARMCRAFT_AUTH: ${{ secrets.CHARMHUB_TOKEN }}
          CHARM_NAME: ${{ steps.get-charm-name.outputs.charm_name }}
          CHARM_PATH: ${{ inputs.charm-path }}
          TRACK: ${{ matrix.track }}
        run: |
          cd "$CHARM_PATH"
          uvx --quiet --from git+https://github.com/lucabello/noctua \
            noctua charm promote "$CHARM_NAME" --from="$TRACK/beta"
          echo "Promoted from beta to candidate!"
