# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

name: Tiobe TiCS Analysis

on:
  workflow_call:
    inputs:
      charm-path:
        description: "Path to the charm we want to publish. Defaults to the current working directory."
        default: '.'
        required: false
        type: string

jobs:
  scan:
    name: Scan and upload
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout the project
        uses: actions/checkout@v4
        with:
          repository: canonical/${{ github.event.repository.name }}

      - name: Install dependencies
        run: |
          sudo snap install charmcraft --classic
          sudo apt update && sudo apt install -y pipx
          pipx install coverage
          pipx install "coverage[toml]"
          pipx install tox
          sudo snap install astral-uv --classic

      - name: run tox tests to create coverage.xml
        env:
          charm_path: ${{ inputs.charm-path }}
        run: |
          pushd "${charm_path}"
          tox -e unit && coverage xml -o cover/cobertura.xml
          popd

      - name: activate and prepare python virtual environment
        env:
          charm_path: ${{ inputs.charm-path }}
        run: |
          pushd "${charm_path}"
          uv sync --extra=dev
          source .venv/bin/activate
          uv pip install pylint flake8
          echo "path=$path" >> "$github_env"
          popd

      - name: run tics analysis with github-action
        uses: tiobe/tics-github-action@v3
        with:
          mode: qserver
          project: ${{ github.event.repository.name }}
          branchdir: .
          viewerurl: https://canonical.tiobe.com/tiobeweb/tics/api/cfg?name=default
          ticsauthtoken: ${{ secrets.ticsauthtoken }}
          installtics: true
