name: Promote Charm

on:
  workflow_call:
    inputs:
      charm-path:
        description: "Path to the charm we want to promote. Defaults to the current working directory."
        type: string
        default: '.'
        required: false
      promotion:
        type: string
        required: true
    secrets:
      CHARMHUB_TOKEN:
        required: true

jobs:
  promote:
    name: Promote Charm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set target channel
        env:
          PROMOTE_FROM: ${{ github.event.inputs.promotion }}
        run: |
          if [ "${PROMOTE_FROM}" == "edge -> beta" ]; then
            echo "promote-from=edge" >> ${GITHUB_ENV}
            echo "promote-to=beta" >> ${GITHUB_ENV}
          elif [ "${PROMOTE_FROM}" == "beta -> candidate" ]; then
            echo "promote-from=beta" >> ${GITHUB_ENV}
            echo "promote-to=candidate" >> ${GITHUB_ENV}
          elif [ "${PROMOTE_FROM}" == "candidate -> stable" ]; then
            echo "promote-from=candidate" >> ${GITHUB_ENV}
            echo "promote-to=stable" >> ${GITHUB_ENV}
          fi
      - name: Promote Charm
        uses: canonical/charming-actions/promote-charm@feature/promote-charm
        with:
          charm-path: ${{ inputs.charm-path }}
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          destination-channel: latest/${{ env.promote-to }}
          origin-channel: latest/${{ env.promote-from }}
          charmcraft-channel: latest/stable
