name: Pull Request

on:
  workflow_call:


jobs:
  changes:
    name: Determine modified rocks
    runs-on: ubuntu-latest
    outputs:
      versions: ${{ steps.changed-versions.outputs.versions }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Determine any rockcraft.yaml changed in the PR
        id: changed-files
        uses: tj-actions/changed-files@v43
        with:
          files: "**/rockcraft.yaml"
      - name: Extract the versions
        id: changed-versions
        run: |
          versions=""
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            rock_version="$(dirname $file)"
            versions="${versions# } $rock_version"
          done
          echo "versions=$versions"
          echo "versions=$versions" >> $GITHUB_OUTPUT

  tests:
    name: Tests
    runs-on: ubuntu-latest
    needs: [changes]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo snap install concierge --classic
          # We need the kubectl (classic) snap because `kgoss` needs access to the /tmp directory
          sudo concierge prepare -p microk8s --extra-snaps rockcraft,just,kubectl
          sudo microk8s enable registry
          # FIXME: install via the goss snap when available
          goss_base_url="https://github.com/goss-org/goss/releases/latest/download"
          curl -L ${goss_base_url}/goss-linux-amd64 -o /usr/local/bin/goss
          chmod +rx /usr/local/bin/goss
          curl -L ${goss_base_url}/kgoss -o /usr/local/bin/kgoss
          chmod +rx /usr/local/bin/kgoss
      - name: Pack and test the rocks
        run: |
          for version in ${{ needs.changes.outputs.versions }}; do
            just pack "$version"
            just test "$version"
            just clean "$version"
          done
