name: Pull Request

on:
  workflow_call:
    inputs:
      extra-snaps:
        description: "Extra snaps to be installed into concierge env where tests will be run"
        default: 'rockcraft,just,kubectl'
        required: false
        type: string
      rock-path:
        description: "Path to the rock we want to test. Defaults to the current working directory"
        default: '.'
        required: false
        type: string


jobs:
  changes:
    name: Determine modified rocks
    runs-on: ubuntu-24.04
    outputs:
      versions: ${{ steps.changed-versions.outputs.versions }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Find rockcraft.yaml changes
        id: changed-files
        uses: tj-actions/changed-files@v43
        with:
          files: "**/rockcraft.yaml"
      - name: Extract the versions
        id: changed-versions
        env:
          # CHANGED_FILES is a space-separated list
          CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          versions="${CHANGED_FILES//\/rockcraft.yaml/}"  # space-separated versions
          echo "versions=$versions"
          echo "versions=$versions" >> "$GITHUB_OUTPUT"

  tests:
    name: Tests
    runs-on: ubuntu-24.04
    needs: [changes]
    if: needs.changes.outputs.versions != ''
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo snap install concierge --classic
          # We need the kubectl (classic) snap because `kgoss` needs access to the /tmp directory
          sudo concierge prepare -p microk8s --extra-snaps $EXTRA_SNAPS
          sudo microk8s enable registry
          # FIXME: install via the goss snap when available
          goss_base_url="https://github.com/goss-org/goss/releases/latest/download"
          curl -L ${goss_base_url}/goss-linux-amd64 -o /usr/local/bin/goss
          chmod +rx /usr/local/bin/goss
          curl -L ${goss_base_url}/kgoss -o /usr/local/bin/kgoss
          chmod +rx /usr/local/bin/kgoss
        env:
          EXTRA_SNAPS: ${{ inputs.extra-snaps }}
      - name: Pack and test the rocks
        run: |
          cd "${{ inputs.rock-path }}"
          for version in ${{ needs.changes.outputs.versions }}; do
            just pack "$version"
            just test "$version"
            just clean "$version"
          done
      - name: Open SSH session on failure
        if: ${{ failure() && (runner.debug == '1') }}
        uses: mxschmitt/action-tmate@v3
        with:
          timeout-minutes: 30
          limit-access-to-actor: true
