# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.

name: Check Terraform Module

on:
  workflow_call:

jobs:
  check-terraform:
    name: Check Terraform
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Initialize Terraform Module
        id: init
        run: terraform init

      - name: Validate Terraform Module
        id: validate
        run: terraform validate -no-color

      - name: Validate terraform fmt
        run: |
          set +e 

          echo "CHECK_STATUS=0" >> $GITHUB_ENV

          for changed_file in ${{ steps.pr_files.outputs.added_modified }}; do 
            echo "Checking terraform fmt on ${changed_file}..."

            if [[ $changed_file == *.tf ]]; then 
              terraform fmt -recursive -check $changed_file
              if [[ $? -ne 0 ]]; then
                echo "âŒ terraform fmt failed - ${changed_file}" >> $GITHUB_STEP_SUMMARY
                echo "CHECK_STATUS=1" >> $GITHUB_ENV
              fi 
            fi
          done
      - name: Process check
        if: always()
        run: exit $CHECK_STATUS